* {
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #3F51B5;
  color: #FFFFFF;
  padding: 36px 48px 64px;
}

.light-primary {
  color: #C5CAE9;
}

.primary-text {
  color: #212121;
}

.accent-color {
  color: #FFFFFF;
  background-color: #448AFF;
}

.wi {
  font-size: 48px;
}

i {
  margin: 0px 16px;
}
